<a id="logo" href="<%= sufia.root_path %>">
  <!-- <span class="glyphicon glyphicon-globe"></span> -->
  <%= image_tag 'university.shield.small.white.png' %>
</a>
<a href="<%= sufia.root_path %>" class="institution_name"><%=t('sufia.product_name') %></a>
